*{
  box-sizing: border-box;
}

.conteiner-1{
  background-color: burlywood;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
.navbar ul li a{
  text-decoration: none;
  color: black;
}
.navbar ul li{
  padding: 10px;
}

.li-1{
  display: flex;
  justify-content: flex-start;
}

.li-2{
  display: flex;
  justify-content: flex-end;
}

.section{
  padding: 30px;
}
.section img{
  width: 40%;
}
.p-1{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.p-2{
  display: flex;
  justify-content: flex-end;
  
}


